nav.navbar{
    background-color:  #00C158;
}
button.btn{
  background-color: #00C158;  
}
div.coins{
    background-color: #fff;
}
body {
    background-color: #fff8e1;
}
#sidebar{
    background-color: #fff8e1;
}
body{
       font-family: 'Raleway', sans-serif; 
}
